.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

/*Logo*/
.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 10px;
}

/*Search bar*/
.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 7px 0px 0px 7px;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
    border-radius: 0px 7px 7px 0px;
}

/*Nav options*/
.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionLineOne {
    font-size: 10px;
    text-decoration: none;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.header__basketCount {
    margin-right: 10px;
    margin-left: 10px;
}

/*Psuedo classes*/
.header__logo:hover, .header__option:hover {
    outline: 1px solid #fff;
    padding-top: 3px;
    padding-bottom: 3px;
}